.login-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  
  .background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background-overlay {
    position: absolute;
    background-color: rgba(0,0,0,.7);
    width: 100vw;
    height: 100vh;
  }
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  
  .login-window {
    background-color: #fff;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    
    .logo {
      max-height: 110px;
      width: 100%;
      padding: 5px;
    }
    
    .login-header {
      margin: auto;
      text-align: center;
      font-weight: unset;
      font-size: 24px;
      margin-top: -15px !important;
      margin-bottom: 15px;
    }
  }
}