
.pagination {
  display: inline-block;
  margin-bottom: 0;
  
  li {
    display: inline-block;
  }
  
  .page-link, .page-link:first-child, .page-link:last-child {
    background-color: #1e2026 !important;
    border: unset;
    margin: 0px 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
  }
}