@using HuntStats.State
@inject IJSRuntime _js
@inject AppState _appState

<div>
    <nav class="flex-column">
        <div class="nav-item sub-text mt-4">
            GENERAL
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="fal fa-chart-line fa-fw"></i>
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/match" Match="NavLinkMatch.Prefix">
                <i class="fal fa-bow-arrow fa-fw"></i>
                Matches
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/settings" Match="NavLinkMatch.All">
                <i class="fal fa-cogs fa-fw"></i>
                Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {

    [Parameter]
    public EventCallback<bool> NavMenuChange { get; set; }

}